body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #000000, #1a0d19, #000000) !important; /* Cambio a 180deg para el gradiente vertical */
  background-size: 200% 200%;
  animation: colorShift 10s ease infinite;
  color: #e0e0e0;
}

@keyframes colorShift {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}



/* HEADER */
.header{
  gap: 20px;
  width: 100%;
  background:  #000000;
 /* box-shadow: 2px 1px #08f013;*/
}

.contenidodelmenu {
  top: 0;
padding-top: 45PX;
  display: flex;
  justify-content: right;
  padding-right: 150px;
}

.contenidodelmenu a {
  color: #e0e0e0;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  

  
  
}

.contenidodelmenu a:hover {
  background-color: #aca000a4;
  border-radius: 5px;
}


/* Home Section */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 150px;

}

.info {
  margin-left: 100px;
  flex: 1;
  padding: 20px;
  text-align: left;
}



.info h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000000;
  transition: 0.2s; /* Suavizar la transición de hover */
}

.info h1:hover {
  color: #09fa9de8; /* Color al pasar el mouse */
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

.info p {
  font-size: 1.2rem;
  color: #b0b0b0;
 
}

.social-icons {
  margin-top: 15px;
}

.social-icons a i {
  color: #0073b1; /* LinkedIn color */
  margin-right: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.2s ;
  &&:hover{
    color: #ffffff;
    transform: scale(1.3);
  }
}

.profile-pic {
  flex: 1;
  display: flex;
  justify-content: left;
  padding-left: 40px;
}

/**efecto para que la foto cambie de tamaño*/
@keyframes fotoChange {
  0% {  transform:  scale(1); }
  25% {  transform:  scale(1.1); }
  75% {  transform:  scale(1.2); }
  }
  
.profile-pic img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit:cover;
  transition:  0.3s;
  box-shadow: 10px 5px #ffc403;
  animation: fotoChange 5s infinite; 
  &&:hover{
    filter: brightness(120%);
    transform: scale(1.05);
/*ahora vamos con el shadow*/
    box-shadow: 15px 5px 10px #ffc404;
  
  }
}


/* About Section */
.about-container {
  padding: 60px 20px;

}

.about-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;

}

.about-container p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.1rem;
  color: #b0b0b0;
  line-height: 1.6;
}

/* Projects Section */
.projects-container {
  padding: 60px 180px;
 
}

.projects-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 20px);
  max-width: 300px;
  height: 200px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Añadir para posicionar el texto */
  overflow: hidden; /* Para que el contenido no sobresalga */
  transition:0.3s;
  box-shadow: 5px 5px  #000000; 

  &&:hover{
    transform: scale(1.03); /* Efecto de escala al pasar el mouse */
    box-shadow: 5px 5px 10px #ffd905; /* Añadir un shadow en el hover */
  }
}

.project-card img {

  max-width: 300px;
  height: 200px;
  border-radius: 5px;
}

.project-info {
  position: absolute; /* Colocar el texto de forma absoluta */
  top: 0; /* Posicionar el texto en la parte superior */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: #ffffff;
  display: flex; /* Centrar el texto */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Ocultar texto por defecto */
  transition: opacity 0.3s ease; /* Transición suave */
}

.project-info button{
  margin-top: 40px;
  background-color: #0073b1; /* LinkedIn color */
  color: #ffffff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease; /* Transición suave */
  &&:hover{
    background-color: #0cad0c; /* LinkedIn hover color */
  }
}

.project-card:hover .project-info {
  opacity: 1; /* Mostrar texto al pasar el mouse */
}

.project-card h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 10px;
}

.project-info p {
  margin: 0; /* Ajustar el margen del párrafo */
}

/* Footer Section */
.footer-container {
  padding: 20px;

  color: #e0e0e0;
  text-align: center;
}

.footer-container p {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  .contenidodelmenu {
    top: 0;
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }
  
  
  .home-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
  }

  .info h1 {
    font-size: 2.2rem;
  }
  
  .info p {
    font-size: 1rem;
   
  }

 
* /*About Section */
.about-container {
  padding: 40px 100px;
  background-color: #1e1e1e;
}

.about-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
}

.about-container p {
  line-height: 1.2;
  text-align: justify;
}



  /*proyectos*/
.projects-container {
  padding: 60px 10px;
  background-color: #121212;
}


.project-card {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(80% );
}

.project-card img {
  max-width: 275px;
  height: 200px;
}
}

@media screen and (max-width: 480px) {
  
  /*le ponemos paddin rigth 0 para que no tenga*/
  .contenidodelmenu {
  top: 0;
  display: flex;
  justify-content: center;
  padding-right: 0px;
}

/* Home Section */
.home-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;

}

.info {
  margin-left: 10px;
  flex: 1;
  padding: 20px;
  text-align: left;
}

.info h1 {
  font-size: 2rem;
}

.info p {
  font-size: 1rem;
 
}

.social-icons {
  margin-top: 15px;
}

.profile-pic {
  padding-left: 0px;
}


* /*About Section */
.about-container {
  padding: 10px 40px;
  background-color: #1e1e1e;
}

.about-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
}

.about-container p {
  line-height: 1.2;
  text-align: justify;
}


/*proyectos*/
.projects-container {
  padding: 60px 10px;
  background-color: #121212;
}


.project-card {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(80% );
}

.project-card img {
  max-width: 275px;
  height: 200px;
}

}

